/* Universal Styles */

html {
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	background-color: rgb(52,89,97);
	line-height: 1.15;
}

body {
	margin: 0 auto;
	width: 1080px;
}

/* Header Section */

header {
	position: fixed;
	z-index: 20;
	top: 0;
	height: 4rem;
	width: 1080px;
	display: flex;
	align-items: center;
	background-color: white;
}

#logo {
	display: flex;
	align-items: center;
	flex-grow: 1;
	margin-left: 24px;
	margin-right: 8px;
}

a {
	background-color: transparent;
}

#logo img {
	height: 3rem;
	display: flex;
}

img {
	border-style: none;
}

#colmar {
	font-weight: bold;
}

header span {
	font-size: 1.33rem;
	color: rgb(64, 64, 64);
}

.desktop {
	margin-right: 1rem;
}

.desktop a {
	text-decoration: none;
	font-size: 1rem;
	padding: 0.5rem;
	color: rgb(64, 64, 64);
}

.mobile {
	display: none;
}

/* Learn Something New Everyday */

.container {
	width: 100%;
	background-color: rgb(137, 234, 255);
	position: relative;
	z-index: 15;
	top: 4rem;
	display: flex;
}

.learncontent {
	display: flex;
	padding: 32px 24px;
}

.imaging {
	display: flex;
	width: 60%;
	margin-right: 40px;
}

.imagebox img {
	max-width: 100%;
	height: auto;
}

img {
	border-style: none;
}

.mobilegraybox {
	display: none;
}

.learnbox {
	color: rgb(16,16,16);
	margin-top: 3rem;
	line-height: 1.3;
	width: 22rem;
	display: block;
}

.learnbox h1 {
	font-weight: bold;
	font-size: 2.5rem;
	margin-bottom: 2rem;
	width: 90%;
}

h1 {
	margin: 0.67em 0;
}

.learnbox p {
	font-size: 1.2rem;
	margin-bottom: 2rem;
	width: 90%;
	font-weight: 300;
}